<!-- ---

---
<div
  class="dark text-primary text-sm bg-primary dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap justify-center"
>
  <a href="tel:404-806-9799" class="text-primary hover:underline dark:text-slate-400 font-medium"
    >Phone Number 404-806-9799</a
  >
</div> -->
