---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactForm from '~/components/widgets/ContactForm.astro';

const metadata = {
  title: 'Dentist near me',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Reach Out for Personalized Care – We're Here to Help You Smile!" title="Contact Us!" />
  <div class="form-container">
    <ContactForm />
  </div>
</Layout>
